.key {
    position: absolute;

    height: 50vh;
    width: 50vw
}

.keypop {
    height: auto;
    width: auto;
    margin-top: -100px;
    border: 2px solid white;
    
    font-size: 30px;
    background-color: transparent;
    text-align: center;
    color: white;
    position: fixed;
    
    margin-left: 85%;
    font-family: monospace;
    text-align: left;
}

.toprow {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-right: 150px;
}
.number {
    border: 2px solid white;
    
    width: 100x;
    height: 100px;
    background-image: linear-gradient( black 80%, white);
    border-radius: 15px;
    text-align: center;
}

.qwerty {
    margin-left: 20px;
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.qwert {
    border: 2px solid white;
    width: 100x;
    height: 100px;
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient( black 80%, white);

}
.asdfg {
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 150px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.asdf {
    border: 2px solid white;
    width: 100x;
    height: 100px;
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient( black 80%, white);

}
.zxcvb {
    margin-left: 60px;
    margin-top: 20px;
    margin-right: 175px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.zxcv{
    border: 2px solid white;
    width: 100x;
    height: 100px;
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient( black 80%, white);
    

}
.popup {
    display: flex;
    align-items: stretch;
    padding: 0;
    opacity: 50%;
    height: 99.9%;
    width:99.9%;
    position: relative;
    box-shadow: 3px 3px 10px blue , 6px 6px 10px red, 9px 9px 10px green;
    border-image: linear-gradient(black, transparent);
    border-radius: 10px;

   
}
.boardcontainer {
    background-color: black;
    
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: 0;
    padding: 8px;
    margin: 0;
}
.controlboard{
    display: flex;
    position: fixed;
    background-color: black;
    font-family: monospace;
    color: greenyellow;
    border-radius: 14px;
    position: absolute;
    margin-top: 50px;
    height: 200px;
    width: 70%;

}
.selector {
    background-color: black;
    color:greenyellow;
    font-family: monospace;
    padding: 3px;
}
.distortion {
    background-color: black;
    color:greenyellow;
    font-family: monospace;
  
}
.delay {

    border: 3px solid white;
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 10px;
    border-top-left-radius: 0;
}
.dist {
    border: 3px solid white;
    width: 150px;
    padding: 8px;
    border-radius: 10px;
    border-top-left-radius: 0;

}
.instrumentselector {
    padding: 8px;

    
}
.envelopecontainer {
    border: 3px solid white;
    padding: 8px;
    width: auto;
    height: auto;
    border-radius: 10px;
    border-top-left-radius: 0;
}
.pitchcontrol {
    border: 3px solid white;
    padding: 8px;

    border-radius: 10px;
    border-top-left-radius: 0;
}
.synthsetter {
    width: auto;
    height: auto;
    padding: 8px;
    border: 3px solid white;
    border-radius: 10px;
    border-top-left-radius: 0;
}
.keyselector {
    width: auto;
    height: auto;
    padding: 8px;
    border: 3px solid white;
    border-radius: 10px;
    border-top-left-radius: 0;
}
.board {
    width: 95%;
    margin-top: 20px;
    margin-left: 20px;

}
.wrapper {
    position: fixed;
    z-index: 999;
    background-color: black;
    border: 3px solid white;
    color: white;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin-left: 50vw;
}
.octave {
    background-color: black;
    color: greenyellow;
    border: 1px solid greenyellow;
}
.indicator {
    color: greenyellow;
    font-size: 20px;
}


